{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "openrouter": {}
  },
  "model": "${AGENT_MODEL}",
  "skills": {
    "paths": ["skill"]
  },
  "mcp": {
    "atlassian": {
      "type": "local",
      "command": ["uv", "tool", "run", "mcp-atlassian"],
      "enabled": true,
      "environment": {
        "JIRA_URL": "${JIRA_URL}",
        "JIRA_USERNAME": "${JIRA_USERNAME}",
        "JIRA_API_TOKEN": "${JIRA_API_TOKEN}"
      }
    }
  }
}
