{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "openrouter": {}
  },
  "model": "openrouter/deepseek/deepseek-v4-flash-0731",
  "skills": {
    "paths": [".skill"]
  },
  "mcp": {
    "atlassian": {
      "type": "local",
      "command": ["uvx", "mcp-atlassian"],
      "enabled": true,
      "environment": {
        "JIRA_URL": "${JIRA_URL}",
        "JIRA_USERNAME": "${JIRA_USERNAME}",
        "JIRA_API_TOKEN": "${JIRA_API_TOKEN}"
      }
    }
  }
}
